<div th:fragment="header" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
  <header id="mainHeader">
    <h1 class="title"><a class="homeTitle" href="/player">ChessTournament App</a></h1>
    <nav id="mainNav">
      <ul>
        <li><a href="/player">Home</a></li>
        <li><a href="/player/profile">Profile</a></li>
        <li><a href="/player/form">Add</a></li>
        <li><a href="/tournaments">Tournaments</a></li>
        <li><a href="/player/signup">Sign Up</a></li>
        <li><a href="/player/signin">Sign In</a></li>
      </ul>
    </nav>
  </header>
</div>