<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CheckMate</title>
    <head th:insert="~{fragments/head.html :: head}"></head>
</head>
<body  style = "background: url('/images/chess-6188879_960_720.jpg') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
background-size: cover;">
<header th:insert="~{fragments/header.html :: header}"></header>
<h1 style="color:white; text-transform: uppercase;text-align: center;margin-top: 200px;">error...checkmate</h1>
<div class="shapeHome shapeHome1"></div>
<div class="shapeHome shapeHome2"></div>

</body>
</html>