<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/head.html :: head}">
  <meta charset="UTF-8">
  <title>Stats Form</title>
</head>
<body>
<header th:insert="~{fragments/header.html :: header}"></header>
<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<div class="formContainer">
  <form  class = "formStat" th:action="@{/player/submitAddPlayer}" method="post" enctype="multipart/form-data" th:object="${player}">
    <div class="formul">

      <label class="labelForm" for="userName">Username
        <input type="text" th:field="*{userName}" class="inputForm" id="userName" placeholder="Username" required/></label>

      <label class="labelForm" for="victory">Victories
        <input type="number" id="victory" class="" th:field="*{victory}" placeholder="Defeats" required/></label>

      <label class="labelForm" for="defeat">Defeats
        <input type="number" class="inputForm" id="defeat" th:field="*{defeat}" placeholder="Defeats" required/></label>

      <label class="labelForm" for="pat">Pats
        <input type="number" class="inputForm" id="pat" th:field="*{pat}" placeholder="Pats" required/></label>

      <label class="labelForm" for="nbrOfGames">Number of Games
        <input type="number" class="inputForm" id="nbrOfGames" th:field="*{nbrOfGames}" placeholder="Number of Games" required/></label>

      <label class="labelForm" for="Elo">Elo
        <input type="number" class="inputForm" id="Elo" th:field="*{elo}" placeholder="Elo" required/></label>

      <input type="hidden" th:field="*{id}" class="inputForm" id="id"/>
      <button type="submit" class="btnForm">Validation</button>
    </div>
  </form>
</div>
<footer th:insert="~{fragments/footer.html :: footer}"></footer>
</body>
</html>