<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:insert="~{fragments/head.html :: head}">
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
<body class="img">
<header th:insert="~{fragments/header.html :: header}"></header>

<div class="conteneur">
    <div class="shapeHome shapeHome1"></div>
    <div class="shapeHome shapeHome2"></div>
    <div th:if="${message != null}" class="messageContainer">
        <div class="messageText">
            <div th:text="${message}"></div>
        </div>
    </div>
    <table class = "table1" >
        <thead>
        <tr>
            <th>firstname</th>
            <th>lastname</th>
            <th>victories</th>
            <th>defeats</th>
            <th>pats</th>
            <th>elo</th>
            <th>registered</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="player : ${players}">
            <td th:text="${player.firstName}"></td>
            <td th:text="${player.lastName}"></td>
            <td th:text="${player.victory}"></td>
            <td th:text="${player.defeat}"></td>
            <td th:text="${player.pat}"></td>
            <td th:text="${player.elo}"></td>
            <td th:text="${player.isInTournament == false} ? 'Not registered' : 'registered'" th:class="${player.isInTournament == false} ? 'red' : 'green'">></td>
            <td><a th:href="@{/player/edit/{id}(id=${player.id})}" class="btnEdit"> edit </a></td><td><a class="btnDelete" th:href="@{/player/delete/{id}(id=${player.id})}"> delete </a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a th:href="@{/player/form}" class="linkAdd"> Add a player </a></td>
        </tr>
        </tfoot>
    </table>
    <div class="searchConteneur">
    <form class="searchForm" th:action="@{/player/search}" method="get">
        <h3>Search for a player</h3>
        <label>
            <input type="text" name="playerId" placeholder="Enter an ID">
        </label>
        <button type="submit" class="btnSearch">Search</button>
    </form>
    </div>

</div>

</body>
</html>