<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <head th:insert="~{fragments/head.html :: head}"></head>
</head>
<body>
<header th:insert="~{fragments/header.html :: header}"></header>
<div class="containerDetails">
    <div class="detailBox">
        <div class="headerBox" th:text="${player?.nickName}">
            <hr>
        </div>
        <div class="card-body">
            <p th:text="${player?.firstName}"></p>
            <p th:text="${player?.lastName}"></p>
            <p th:text="${player?.victory}"></p>
            <p th:text="${player?.defeat}"></p>
            <p th:text="${player?.pat}"></p>
            <p th:text="${player?.nbrOfGames}"></p>
            <p th:text="${player?.Elo}"></p>
            <h3 class="IsInTournament" th:text="${player?.IsInTournament == false  ? 'Not registered' : 'registered'}" th:class="${player.IsInTournament == false} ? 'red' : 'green'"></h3>
        </div>
        <div class="divChangeIsInTournament">
            <a class="changeIsInTournament" th:href="@{/player/update/{id}(id=${player.getId()})}">Change registration</a>
        </div>
        <a href="#" class="linkBack" th:href="${'/player'}">Retour</a>
    </div>
</div>
</body>
</html>