<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{fragments/head.html :: head}">
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>
<header th:insert="~{fragments/header.html :: header}"></header>

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form class="signinForm" th:action="@{/player/signin}" method="post">
    <div th:if="${message != null}" class="messageContainer">
        <div class="messageText">
            <div th:text="${message}"></div>
        </div>
    </div>
    <h3>Login</h3>
    <label for="userName">
    <input c type="text" name="userName" placeholder="Username" id="userName">
    </label>
    <label for="password">
    <input type="password" name="password" placeholder="Password" id="password">
    </label>
    <button class="buttonLogin">Log In</button>
</form>
</body>
</html>