<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/head.html :: head}">
  <meta charset="UTF-8">
  <title>Sign Up</title>
</head>
<body>
<header th:insert="~{fragments/header.html :: header}"></header>
<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form class="signupForm" th:action="@{/player/signup}" method="post">
  <div th:if="${message != null}" class="messageContainer">
    <div class="messageText">
      <div th:text="${message}"></div>
    </div>
  </div>
  <h3>Sign up</h3>
  <div class="">
    <label class="labelForm" for="firstname">
    <input type="text" name="firstName" placeholder="Firstname" id="firstname" class="inputlog">
    </label>
  </div>
  <div class="">
    <label class="labelForm" for="lastname">
    <input type="text" name="lastName" placeholder="Lastname" id="lastname" class="inputlog">
    </label>
  </div>
  <div class="">
    <label class="labelForm" for="userName">
    <input type="text" name="userName" placeholder="Username" id="userName" class="inputlog">
    </label>
  </div>
  <div class="">
    <label class="labelForm" for="email">
    <input type="text" name="email" placeholder="Email" id="email" class="inputlog">
    </label>
  </div>
  <div class="">
    <label class="labelForm" for="password">
    <input type="password" name="password" placeholder="Password" id="password" class="inputlog">
    </label>
  </div>
  <button class="btn btnlog">valider</button>
  </div>
</form>
<footer th:insert="~{fragments/footer.html :: footer}"></footer>
</body>
</html>