:root {
    --black: #333;
    --blue: #7186FF;
    --red: #C1272D;
    --shaded-red: rgb(223, 149, 149);
    --green: #00751F;
    --shaded-green : rgb(175, 225, 175);
    --white: #FFF;
    --gray: #253237;
    --grayish: #5C6B73;
    --timber: #dbd7d2;
    --yellow: #FFFF00;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background: url("../images/phpSWK2Un.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ***** header nav ***** */

#mainHeader h1{
    margin: 0 0 0 20px;
    letter-spacing: 0.2rem;
    color: var(--white);
    font-family: Cantarell, Arial, sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    padding-top: 10px;
    z-index: 1000;
    text-transform: uppercase;
    width: 400px;
}

#mainNav{
    position: absolute;
    width: 100%;
    padding-bottom: 10px;

}
#mainNav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 150px;
    /*float: right;*/
    justify-content: center;
}

.homeTitle{
    text-decoration: none;
    cursor: pointer;
    color:var(--white);
}

.homeTitle:hover{
    color: var(--black);
    transition: all 0.5s ease-out;
}

#mainNav a{
    letter-spacing: 0.2rem;
    color: var(--black);
    text-decoration: none;
    font-family: Cantarell, Arial, sans-serif;
    font-size: 1.5em;
    display: block;
    margin: 10px;
    text-transform: uppercase;

}
#mainNav a:hover{
    color: var(--white);
    transition: all 0.5s ease-out;
}

#mainHeader{
    display: grid;
    grid-template-columns: 500px 1fr 1fr;
}

/* ***** fin header ***** nav*/

/*login*/
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
            #FFF,
            #333
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
            to right,
            #333,
            #000
    );
    right: -30px;
    bottom: -80px;
}


.shapeHome{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shapeHome1{
    background: linear-gradient(
            #FFF,
            #333
    );
    right: 0px;
    top: 0px;
}
.shapeHome2{
    background: linear-gradient(
            to right,
            #333,
            #000
    );
    left: 0px;
    top: 0px;
}
.signinForm{
    /*height: 520px;*/
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.signinForm *{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.signinForm h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
}

.signupForm{
    /*height: 520px;*/
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.signupForm *{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.signupForm h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
}

.formStat{
    /*height: 520px;*/
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.formStat *{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.formStat h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
}


.searchForm{
    /*height: 520px;*/
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    /*position: absolute;*/
    /*transform: translate(-50%,-50%);*/
    /*top: 50%;*/
    /*left: 50%;*/
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.searchForm *{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.searchForm h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
}

.searchConteneur{
    margin-left: auto;
    margin-right: auto;
    width:20rem;
    padding: 10px;
}

label{
    display: block;
    /*margin-top: 30px;*/
    font-size: 16px;
    font-weight: 500;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color:#e5e5e5;
}

::placeholder{
    color: #e5e5e5;
}

button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
/* ***** fin form sign up, signin  btn ***** */

/* ***** profile details ***** */

.containerDetails{
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    font-family: Cantarell, Arial, sans-serif;
}

.headerBox{
    font-size: 22px;
    text-transform: capitalize;
}

.detailBox{
    /*font-family: Cantarell, Arial, sans-serif;*/
    /*background-color: var(--black);*/
    /*padding:20px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*border: 1px solid;*/
    color:var(--white);
    /*border-radius: 1rem;*/
    text-align: center;
    /*margin-top:200px;*/
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.IsInTournament{
    font-weight: normal;
}

.changeIsInTournament{
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bolder;
}

.divChangeIsInTournament{
    margin: 10px;
    padding: 20px;
}

.green{
    color: var(--green);
}

.red{
    color:var(--red);
}

.linkBack{
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bolder;
}

.linkAdd{
    display: block ruby;
    width:0px;
    padding: 10px;
    font-weight: bold;
}
/* ***** fin profile details ***** */

/* ***** form ***** */

.formul{
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
}

.btnForm{
    padding: 10px;
    margin-top: 10px;
    cursor:pointer;
}

.formContainer{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width:60rem;
    font-family: Cantarell, Arial, sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.2rem;
}

.btnForm{
    padding: 10px;
    margin-top: 10px;
    cursor:pointer;
}

/*home player*/

.linkForm{
    text-align: center;
}

/*.conteneur{*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    width:20rem;*/
/*    padding: 10px;*/
/*}*/

td a {
    text-decoration: none;
    color:var(--white);
}

td{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}



tr{
    text-align: center;
    height: 40px;

}

.table1{

    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    margin-top:50px;
}
.table1 *{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    /*outline: none;*/
    /*border: none;*/
}
thead,
tfoot {
    font-size: 1em;
    color: var(--timber);
    font-family: Cantarell, Arial, sans-serif;
    text-transform: uppercase;

}

th{
    font-size: 30px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}
/*fin home player*/

/*.btnSearch{*/
/*    font-family: Cantarell, Arial, sans-serif;*/
/*    cursor:pointer;*/
/*    border-radius: 1rem;*/
/*    border: none;*/
/*    height: 40px;*/
/*    text-transform: uppercase;*/
/*    font-weight: bold;*/
/*    background-color: var(--black);*/
/*    color: var(--white);*/
/*    display: inline-block;*/
/*    width: 130px;*/
/*}*/

.btnSearch:hover{
    background-color: var(--white);
    color: var(--black);
    transition: all 0.5s ease-out;
}

.btnEdit{
    font-family: Cantarell, Arial, sans-serif;
    cursor:pointer;
    border-radius: 1rem;
    border: none;
    /*height: 30px;*/
    text-transform: uppercase;
    font-weight: bold;
    display: inline-table;
    width:60px;
}
.btnEdit:hover{
    color: var(--yellow);
    transition: all 0.5s ease-out;
}
.btnDelete{
    font-family: Cantarell, Arial, sans-serif;
    cursor:pointer;
    border-radius: 1rem;
    border: none;
    height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.btnDelete:hover{
    color: var(--red);
    transition: all 0.5s ease-out;
}

table{
    margin-right: auto;
    margin-left: auto;
    width:60rem;
}

/* exceptions*/
.messageContainer{
    margin-left:auto;
    margin-right: auto;
}

.messageText{
    font-family: Cantarell, Arial, sans-serif;
    color:var(--red);
    font-size: 25px;
    padding: 1rem;
}
/* exceptions*/